 <% layout('layout') -%>

    <!-- Profile -->
    <section class="row"><h1 class="hidden">Content</h1>
        <section class="col-md-8 main">
            <h1>MY PROFILE</h1>


            <% if(message.length > 0){ %>
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss= "alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%= message %>
            </div>
            <% } %>

            <form method="post">
            <!-- General Information -->
            <section class="general-information">
                <!-- General Information Header -->
                <header class="row">
                    <div class="col-md-12">
                        <h3>General Information</h3>
                    </div>
                </header>

                <!-- General Information Form -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName" class="required">First Name</label>
                            <input type="text" class="form-control input-lg" id="firstName" name="firstname" value="<%= user.profile.name.firstname%>" required="true">
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="required">Last Name</label>
                            <input type="text" class="form-control input-lg" id="lastName" name="lastname" value="<%= user.profile.name.lastname%>" required="true">
                        </div>
                    </div>
<!--                     <div class="col-md-3">
                        <img src="img/upload-photo.gif" width="152" height="152" alt="User Photo" />
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" name="uploadPhoto">UPLOAD PHOTO</button>
                        <p><span>Note:</span> Files less than 2MB are accepted.</p>
                    </div> -->
                </div>
            </section>

            <!-- Account Information -->
            <section class="account-information">
                <!-- Account Information Header -->
                <header class="row">
                    <div class="col-md-12">
                        <h3>Account Information</h3>
                    </div>
                </header>

                <!-- Account Information Form -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username" class="required">Username</label>
                            <input type="text" class="form-control input-lg" id="username" name="username" readonly=true  value="<%= user.username%>">
                        </div>
                        <div class="form-group">
                            <label for="email" class="required">Email</label>
                            <input type="text" class="form-control input-lg" id="email" name="email" value="<%= user.email%>" required="true">
                        </div>
                    </div>
                </div>
            </section>

            <!-- Update Button -->
            <section><h4 class="hidden">Update</h4>
                <div class="row update">
                    <div class="col-md-12">
                        <div class="underline"></div>
                        <button type="submit" class="btn btn-primary pull-right" name="updateProfile">UPDATE</button>
                    </div>
                </div>
            </section>
            </form>

            <!-- Change Password -->
            <section class="change-password">
                <!-- Change Password Header -->
                <header class="row">
                    <div class="col-md-12">
                        <h3>Change password</h3>
                    </div>
                </header>

                <!-- Change Password Form -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="oldPassword" class="required">Old Password</label>
                            <input type="password" class="form-control input-lg" id="oldPassword" name="oldPassword">
                        </div>
                        <div class="form-group">
                            <label for="newPassword" class="required">New Password</label>
                            <input type="password" class="form-control input-lg" id="newPassword" name="newPassword">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="required">Confirm Password</label>
                            <input type="password" class="form-control input-lg" id="confirmPassword" name="confirmPassword">
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </section>

            <!-- Update Button -->
            <section><h4 class="hidden">Update</h4>
                <div class="row update">
                    <div class="col-md-12">
                        <div class="underline"></div>
                        <button type="button" class="btn btn-primary pull-right" name="update-password">UPDATE</button>
                    </div>
                </div>
            </section>
        </section>

        <div class="col-md-1"></div>
        <% if(user){ %>
        <aside class="col-md-3 sidebar"><h3 class="hidden">Sidebar</h3>
            <!-- Preferences -->
            <section>
                <h4><i class="fa fa-user red"></i>PREFERENCES</h4>
                <ul class="list-group">
                    <!-- <li class="list-group-item"><a href="#">Profile</a></li> -->
                    <li class="list-group-item"><a href="settings">Settings</a></li>
                    <li class="list-group-item"><a href="logout">Logout</a></li>
                </ul>
            </section>

            <!-- Latest News -->
<!--             <section>
                <h4><i class="fa fa-rss red"></i>LATEST NEWS</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi.<br />
                        <span>By <a href="#" class="author">John Doe, <time datetime="2013-04-02">02 Apr 2013</time></a></span>
                    </li>
                    <li class="list-group-item">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi.<br />
                        <span>By <a href="#" class="author">John Doe, <time datetime="2013-04-02">02 Apr 2013</time></a></span>
                    </li>
                </ul>
            </section> -->
        </aside>
        <% } %>
    </section>