 <% layout('layout') -%>

    <!-- Home Page -->
<!--     <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss= "alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button> -->

    <section class="row"><h1 class="hidden">Content</h1>


        <% if(successMessage.length > 0){ console.log('Message: ' + successMessage); %>
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss= "alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%= successMessage %>
            </div>
        <% } %>
        
        <section class="col-md-8 main">
            <h1>FORUMS</h1>
            <p class="root"><span>Got a tip? Need some help? </span>You've come to the right place for help on getting to, through, and between topics. Share your experiences with others or post a question and get a response for it.</p>

            <!-- Categories -->
            <article><h2 class="hidden">Categories</h2>
                <section class="category"><h3 class="hidden">Categories</h3>
                    <!-- Category Header -->
                    <header class="row">
                        <div class="col-md-12">
                            <a class="title" href="forums">CATEGORIES</a>
                        </div>
                    </header>

                    <!-- Category -->
                    <% for(var i = 0; i < categories.length; i++){console.log(categories.length);  %>
                    <section class="row forum"><h4 class="hidden"><%=categories[i].name %></h4>
                        <div class="col-md-12">
                            <!-- Category Header -->
                            <a class="title" href="forum-topics"><%=categories[i].name %></a>
                            <!-- <p> Lorem ipsum dolor sit amet. </p> -->
                            <!-- Category Details -->
                            <div class="details">
                                <table class="table">
                                    <tr>
                                        <th>TOPICS</th>
                                        <th>POSTS</th>
                                        <th rowspan="2">
                                            <!-- <i class="fa fa-eye-slash pull-right is" title="Activated"></i> -->
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>140,734</td>
                                        <td>710,966</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                    <% } %>

                    <!-- Pagination -->
<!--                     <section class="pagination-background"><h2 class="hidden">Pagination</h2>
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </section> -->
                </section>
            </article>
        </section>
        <div class="col-md-1"></div>
        <% if(user){ %>
        <aside class="col-md-3 sidebar"><h3 class="hidden">Sidebar</h3>
            <!-- Buttons -->
            <section><h4 class="hidden">Buttons</h4>
                <!-- <a href="add-category"> -->
                <button class="btn btn-danger btn-lg" id="new-category-btn">NEW CATEGORY</button>
                <!-- </a> -->
                <!-- <a href="add-forum"> -->
                <button class="btn btn-danger btn-lg" id="new-forum-btn">NEW FORUM</button>
                <!-- </a> -->
            </section>

           <div id="new-category-modal" class="modal fade in" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4><span class="glyphicon glyphicon-plus"></span>New category</h4>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <form role="form" method="post" action="add-category">
                                <div class="form-group">
                                    <label for="new-category-txt"> Name: </label>
                                    <input type="text" class="form-control" id="new-category-txt" placeholder="Enter category name" required="true" name="newCategory">
                                </div>
                                <div class="add-button">
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Add Category</button>
                                </div>
                            </form>
                        </div>
                        <!-- Modal footer -->
                <!--    <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div> -->
                    </div>
                </div>
            </div>

            <div id="new-forum-modal" class="modal fade in" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4><span class="glyphicon glyphicon-plus"></span>New forum</h4>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <form role="form" method="post" action="add-forum">
                                <div class="form-group">
                                    <label for="new-forum-txt"> Title: </label>
                                    <input type="text" class="form-control" id="new-forum-txt" placeholder="Enter forum title" required="true" name="newForumTitle">
                                </div>
                                <div class="form-group">
                                    <label class="required" for="category">Category</label>
                                    <select id="category" class="form-control selectpicker" name="newForumCategory">
                                        <%for(var i = 0; i < categories.length; i++){ %>
                                        <option value="<%=categories[i]._id%>"><%=categories[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="active">Active / Inactive</label>
                                    <select id="active" class="form-control selectpicker" name="newForumStatus">
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                </div>
                                <div class="add-button">
                                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Add</button>
                                </div>
                            </form>
                        </div>
                        <!-- Modal footer -->
                <!--    <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div> -->
                    </div>
                </div>
            </div>

            <!-- Preferences -->
            <section>
                <h4><i class="fa fa-user red"></i>PREFERENCES</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a href="profile">Profile</a></li>
                    <li class="list-group-item"><a href="settings">Settings</a></li>
                    <li class="list-group-item"><a href="logout">Logout</a></li>
                </ul>
            </section>
            <% } %> 


            <!-- Active Threads -->
            <!-- <section>
                <h4>ACTIVE THREADS</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#">I was wondering what is wrong with this world?</a><br />
                        <span>30 Replies</span><br />
                        <span>Last by <a href="#">John Doe</a>, <time datetime="2011-11-12 14:54:39">20 minutes ago</time></span>
                    </li>
                    <li class="list-group-item">
                        <a href="#">I’m going home tonight!</a><br />
                        <span>30 Replies</span><br />
                        <span>Last by <a href="#">John Doe</a>, <time datetime="2011-11-12 14:54:39">20 minutes ago</time></span>
                    </li>
                </ul>
            </section>

            Latest News
            <section>
                <h4><i class="fa fa-rss red"></i>LATEST NEWS</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi.<br />
                        <span>By <a href="#" class="author">John Doe, <time datetime="2013-04-02">02 Apr 2013</time></a></span>
                    </li>
                    <li class="list-group-item">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi.<br />
                        <span>By <a href="#" class="author">John Doe, <time datetime="2013-04-02">02 Apr 2013</time></a></span>
                    </li>
                </ul>
            </section>-->
        </aside>
    </section> 